<div class="container-fluid">
    <h1>new form</h1>
    <form  #userform="ngForm"    (ngSubmit)="onsubmit(userform.value)">


<hr>


<div class="form-group">
  <label>name</label>
  <input type="number" #id="ngModel" required [class.is-invalid]="id.invalid"  class="form-control"   name="id" [(ngModel)]='u.id'>

  <div *ngIf="userform.controls['id'].errors">
    id is required.
  </div>
</div>

<div class="form-group">
    <label>name</label>
    <input type="text" class="form-control"   name="user" [(ngModel)]='u.name'>

</div>


<div class="form-group">
    <select name="category" [(ngModel)]='u.category'  class="custom-select">
        <option selected>i am selecting</option>
        <option *ngFor="let category of categories">{{category}}</option>
    </select>
</div>

<div class="form-group">
    <label>description
    </label>
    <input type="text" class="form-control" name="description" [(ngModel)]='u.description' >
    
</div>

<button type="submit" [disabled]="userform.form.invalid">Submit</button>





    </form>

</div>






  






